@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Inter","Lexend Deca", sans-serif;
    font-size: 24px;
}
h1, h2, .main-info{
    margin: 3rem 0;
}
.image img{
    width: 200px;
    border-radius: 50%;
}
.main-info{
   font-weight: 700;
}
.abilities h2, .abilities ol {
    margin-bottom: 3rem;
}
.abilities p{
    margin-bottom: 1rem;
}